<div class="container"><div class="row"><div class="col-md-6 col-md-offset-3">
  <h1 class="text-center">Тестовое задание для E-Promo</h1>
  <% if Rails.env.development? %>
    <%= link_to "Получить данные для отчета", report_path, method: :put, class: 'btn btn-primary' %>
  <% elsif Rails.env.production? %>
    <%= link_to "Получить данные для отчета", '/auth/yandex', class: 'btn btn-primary' %>
  <% end %>
  <% @campaigns.each do |campaign| %>
    <ul>
      <h2>Campaign</h2>
      <% campaign.attributes.each do |key, value| %>
	<li>
	  <strong><%= key %>: </strong>
	  <%= value %>
	</li>
      <% end %>
    </ul><br>
    <ul>
      <h3>Keywords</h3>
      <% campaign.keywords.each do |keyword| %>
	<% keyword.attributes.each do |key, value| %>
	  <li>
	    <strong><%= key %>: </strong>
	    <%= value %>
	  </li>
	<% end %>
      <% end %>
    </ul><br>
  <% end %>
</div></div></div>
