<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
	<th>Кампания</th>
	<th>Показы</th>
	<th>Клики</th>
	<th>Цена(расход)</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
	<tr data-toggle="collapse" href="#collapse_<%= campaign.id %>">
	  <td class="model_name"><%= campaign.name %></td>
	  <td><%= campaign.total_impressions %></td>
	  <td><%= campaign.total_clicks %></td>
	  <td><%= campaign.total_bid %></td>
	</tr>
	<tr class="collapse" id="collapse_<%= campaign.id %>">
	  <td class="collapse_container" colspan="4">
	    <table class="table">
	      <tbody>
		<% campaign.keywords.each do |keyword| %>
		  <tr class="active">
		    <td class="model_name"><%= keyword.name %></td>
		    <td><%= keyword.impressions %></td>
		    <td><%= keyword.clicks %></td>
		    <td><%= keyword.bid %></td>
		  </tr>
		<% end %>
	      </tbody>
	    </table>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>
</div>
